<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %} -  Todo {% endblock %}</title>
  {% block head %}
  <!-- Can be used for custom styles -->
  <style></style>
  <!-- Tailwind CSS File, build with cmd: npm run css:build -->
  <link href="style.css" rel="stylesheet">
  <!-- Include HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  {% endblock %}
</head>

<body>
  <div id="content">
    {% block content %}<p>Placeholder content (Rendered by the use of super in Child template)</p>{% endblock %}
  </div>
</body>

</html>
